@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(221 174 238 / 18%);
  background: radial-gradient(circle, rgb(221 174 238 / 30%) 0%, rgb(2 6 0 / 67%) 100%); z-index: 3;
  margin:0;
}
h1, h2, h3,h4 {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {

  font-size: 4rem;
  margin: 0;
}
.video-container{
  width: 100vw;
  height: 100vh;
}
    
iframe.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}
  @media (min-aspect-ratio: 16/9) {
    iframe.hero-video {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    iframe.hero-video {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
  }
  .hero-text {
    position: absolute;
    color: #ffffffeb;
    left: 10%;
    bottom: 5%;
    z-index: 4;
    max-width: 85%;
    text-shadow: 2px 4px 9px #0000008a;
    display: flex;
    align-items: center;
    gap: 20px;
  }
@media (max-width: 920px){

  .hero-text {
    flex-direction: column;
  }
  .hero-text h2 {
    font-size: 16px;
  }
}
.button.button-primary {
  text-decoration: none;
  background: #d33a05;
  color: #ffff;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 0.5s;
}
.button.button-primary:hover {
  background: #fff;
  color: #d33a05;
}
  .wrapper-video {
    overflow: hidden;
    max-width: 100%;
    position: relative;
 }

 .overlay-bg {
  position: absolute;
  color: #ffffff00;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: rgb(221 174 238 / 18%);
  background: radial-gradient(circle, rgb(221 174 238 / 30%) 0%, rgb(2 6 0 / 67%) 100%); z-index: 3;
}


.slide-in {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}
.slide-out {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100vh;
  background: #0f0f0f;
  transform-origin: top;
}

.main-section {
  position: absolute;
  background: #fff;
  height: 100vh;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-pagination-bullet-active {
  background: #fff;
  border: 1px solid #0000008f;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}